# ==========================================================================
#  Resources: EKS / autoscale-node-spinnaker-dev.tf (EKS Autoscale Configuration)
# --------------------------------------------------------------------------
#  Description
# --------------------------------------------------------------------------
#    - Node VPC Subnet
#    - Node Scaling
#    - Node Tagging
# ==========================================================================

#============================================
# NODE GROUP - SPINNAKER - DEV
#============================================
locals {
  #for tagging
  Environment_spinnaker_dev     = "DEV"
  Name_spinnaker_dev            = "EKS-1.23-SPINNAKER-DEV"
  Type_spinnaker_dev            = "PROJECTS"
  ProductName_spinnaker_dev     = "EKS-DEVOPSCORNER"
  ProductGroup_spinnaker_dev    = "DEV-EKS-DEVOPSCORNER"
  Department_spinnaker_dev      = "DEVOPS"
  DepartmentGroup_spinnaker_dev = "DEV-DEVOPS"
  ResourceGroup_spinnaker_dev   = "DEV-EKS-DEVOPSCORNER"
  Services_spinnaker_dev        = "SPINNAKER"
}

# --------------------------------------------------------------------------
#  Autoscaling Tag
# --------------------------------------------------------------------------
resource "aws_autoscaling_group_tag" "Environment_group_tag_spinnaker_dev" {
  for_each = toset(
    [for asg in flatten(
      [for resources in aws_eks_node_group.spinnaker["dev"].resources : resources.autoscaling_groups]
    ) : asg.name]
  )
  autoscaling_group_name = each.value
  tag {
    key                 = "Environment"
    value               = local.Environment_spinnaker_dev
    propagate_at_launch = true
  }
}

resource "aws_autoscaling_group_tag" "Name_group_tag_spinnaker_dev" {
  for_each = toset(
    [for asg in flatten(
      [for resources in aws_eks_node_group.spinnaker["dev"].resources : resources.autoscaling_groups]
    ) : asg.name]
  )
  autoscaling_group_name = each.value
  tag {
    key                 = "Name"
    value               = local.Name_spinnaker_dev
    propagate_at_launch = true
  }
}

resource "aws_autoscaling_group_tag" "Type_group_tag_spinnaker_dev" {
  for_each = toset(
    [for asg in flatten(
      [for resources in aws_eks_node_group.spinnaker["dev"].resources : resources.autoscaling_groups]
    ) : asg.name]
  )
  autoscaling_group_name = each.value
  tag {
    key                 = "Type"
    value               = local.Type_spinnaker_dev
    propagate_at_launch = true
  }
}

resource "aws_autoscaling_group_tag" "ProductName_group_tag_spinnaker_dev" {
  for_each = toset(
    [for asg in flatten(
      [for resources in aws_eks_node_group.spinnaker["dev"].resources : resources.autoscaling_groups]
    ) : asg.name]
  )
  autoscaling_group_name = each.value
  tag {
    key                 = "ProductName"
    value               = local.ProductName_spinnaker_dev
    propagate_at_launch = true
  }
}

resource "aws_autoscaling_group_tag" "ProductGroup_group_tag_spinnaker_dev" {
  for_each = toset(
    [for asg in flatten(
      [for resources in aws_eks_node_group.spinnaker["dev"].resources : resources.autoscaling_groups]
    ) : asg.name]
  )
  autoscaling_group_name = each.value
  tag {
    key                 = "ProductGroup"
    value               = local.ProductGroup_spinnaker_dev
    propagate_at_launch = true
  }
}

resource "aws_autoscaling_group_tag" "Department_group_tag_spinnaker_dev" {
  for_each = toset(
    [for asg in flatten(
      [for resources in aws_eks_node_group.spinnaker["dev"].resources : resources.autoscaling_groups]
    ) : asg.name]
  )
  autoscaling_group_name = each.value
  tag {
    key                 = "Department"
    value               = local.Department_spinnaker_dev
    propagate_at_launch = true
  }
}

resource "aws_autoscaling_group_tag" "DepartmentGroup_group_tag_spinnaker_dev" {
  for_each = toset(
    [for asg in flatten(
      [for resources in aws_eks_node_group.spinnaker["dev"].resources : resources.autoscaling_groups]
    ) : asg.name]
  )
  autoscaling_group_name = each.value
  tag {
    key                 = "DepartmentGroup"
    value               = local.DepartmentGroup_spinnaker_dev
    propagate_at_launch = true
  }
}

resource "aws_autoscaling_group_tag" "ResourceGroup_group_tag_spinnaker_dev" {
  for_each = toset(
    [for asg in flatten(
      [for resources in aws_eks_node_group.spinnaker["dev"].resources : resources.autoscaling_groups]
    ) : asg.name]
  )
  autoscaling_group_name = each.value
  tag {
    key                 = "ResourceGroup"
    value               = local.ResourceGroup_spinnaker_dev
    propagate_at_launch = true
  }
}

resource "aws_autoscaling_group_tag" "Services_group_tag_spinnaker_dev" {
  for_each = toset(
    [for asg in flatten(
      [for resources in aws_eks_node_group.spinnaker["dev"].resources : resources.autoscaling_groups]
    ) : asg.name]
  )
  autoscaling_group_name = each.value
  tag {
    key                 = "Service"
    value               = local.Services_spinnaker_dev
    propagate_at_launch = true
  }
}

# --------------------------------------------------------------------------
#  Autoscaling Node Group Output
# --------------------------------------------------------------------------
output "eks_node_asg_group_spinnaker_dev" {
  value = aws_eks_node_group.spinnaker["dev"].resources[0].autoscaling_groups[0].name
}
