# ==========================================================================
#  Resources: EKS / autoscale-node-sharedredis-uat.tf (EKS Autoscale Configuration)
# --------------------------------------------------------------------------
#  Description
# --------------------------------------------------------------------------
#    - Node VPC Subnet
#    - Node Scaling
#    - Node Tagging
# ==========================================================================

#============================================
# NODE GROUP - SHAREDREDIS - UAT
#============================================
locals {
  #for tagging
  Environment_sharedredis_uat     = "UAT"
  Name_sharedredis_uat            = "EKS-1.23-SHAREDREDIS-UAT"
  Type_sharedredis_uat            = "PROJECTS"
  ProductName_sharedredis_uat     = "EKS-DEVOPSCORNER"
  ProductGroup_sharedredis_uat    = "UAT-EKS-DEVOPSCORNER"
  Department_sharedredis_uat      = "DEVOPS"
  DepartmentGroup_sharedredis_uat = "UAT-DEVOPS"
  ResourceGroup_sharedredis_uat   = "UAT-EKS-DEVOPSCORNER"
  Services_sharedredis_uat        = "SHAREDREDIS"
}

# --------------------------------------------------------------------------
#  Autoscaling Tag
# --------------------------------------------------------------------------
resource "aws_autoscaling_group_tag" "Environment_group_tag_sharedredis_uat" {
  for_each = toset(
    [for asg in flatten(
      [for resources in aws_eks_node_group.sharedredis["uat"].resources : resources.autoscaling_groups]
    ) : asg.name]
  )
  autoscaling_group_name = each.value
  tag {
    key                 = "Environment"
    value               = local.Environment_sharedredis_uat
    propagate_at_launch = true
  }
}

resource "aws_autoscaling_group_tag" "Name_group_tag_sharedredis_uat" {
  for_each = toset(
    [for asg in flatten(
      [for resources in aws_eks_node_group.sharedredis["uat"].resources : resources.autoscaling_groups]
    ) : asg.name]
  )
  autoscaling_group_name = each.value
  tag {
    key                 = "Name"
    value               = local.Name_sharedredis_uat
    propagate_at_launch = true
  }
}

resource "aws_autoscaling_group_tag" "Type_group_tag_sharedredis_uat" {
  for_each = toset(
    [for asg in flatten(
      [for resources in aws_eks_node_group.sharedredis["uat"].resources : resources.autoscaling_groups]
    ) : asg.name]
  )
  autoscaling_group_name = each.value
  tag {
    key                 = "Type"
    value               = local.Type_sharedredis_uat
    propagate_at_launch = true
  }
}

resource "aws_autoscaling_group_tag" "ProductName_group_tag_sharedredis_uat" {
  for_each = toset(
    [for asg in flatten(
      [for resources in aws_eks_node_group.sharedredis["uat"].resources : resources.autoscaling_groups]
    ) : asg.name]
  )
  autoscaling_group_name = each.value
  tag {
    key                 = "ProductName"
    value               = local.ProductName_sharedredis_uat
    propagate_at_launch = true
  }
}

resource "aws_autoscaling_group_tag" "ProductGroup_group_tag_sharedredis_uat" {
  for_each = toset(
    [for asg in flatten(
      [for resources in aws_eks_node_group.sharedredis["uat"].resources : resources.autoscaling_groups]
    ) : asg.name]
  )
  autoscaling_group_name = each.value
  tag {
    key                 = "ProductGroup"
    value               = local.ProductGroup_sharedredis_uat
    propagate_at_launch = true
  }
}

resource "aws_autoscaling_group_tag" "Department_group_tag_sharedredis_uat" {
  for_each = toset(
    [for asg in flatten(
      [for resources in aws_eks_node_group.sharedredis["uat"].resources : resources.autoscaling_groups]
    ) : asg.name]
  )
  autoscaling_group_name = each.value
  tag {
    key                 = "Department"
    value               = local.Department_sharedredis_uat
    propagate_at_launch = true
  }
}

resource "aws_autoscaling_group_tag" "DepartmentGroup_group_tag_sharedredis_uat" {
  for_each = toset(
    [for asg in flatten(
      [for resources in aws_eks_node_group.sharedredis["uat"].resources : resources.autoscaling_groups]
    ) : asg.name]
  )
  autoscaling_group_name = each.value
  tag {
    key                 = "DepartmentGroup"
    value               = local.DepartmentGroup_sharedredis_uat
    propagate_at_launch = true
  }
}

resource "aws_autoscaling_group_tag" "ResourceGroup_group_tag_sharedredis_uat" {
  for_each = toset(
    [for asg in flatten(
      [for resources in aws_eks_node_group.sharedredis["uat"].resources : resources.autoscaling_groups]
    ) : asg.name]
  )
  autoscaling_group_name = each.value
  tag {
    key                 = "ResourceGroup"
    value               = local.ResourceGroup_sharedredis_uat
    propagate_at_launch = true
  }
}

resource "aws_autoscaling_group_tag" "Services_group_tag_sharedredis_uat" {
  for_each = toset(
    [for asg in flatten(
      [for resources in aws_eks_node_group.sharedredis["uat"].resources : resources.autoscaling_groups]
    ) : asg.name]
  )
  autoscaling_group_name = each.value
  tag {
    key                 = "Service"
    value               = local.Services_sharedredis_uat
    propagate_at_launch = true
  }
}

# --------------------------------------------------------------------------
#  Autoscaling Node Group Output
# --------------------------------------------------------------------------
output "eks_node_asg_group_sharedredis_uat" {
  value = aws_eks_node_group.sharedredis["uat"].resources[0].autoscaling_groups[0].name
}
