# ==========================================================================
#  Resources: EKS / autoscale-node-laravel-dev.tf (EKS Autoscale Configuration)
# --------------------------------------------------------------------------
#  Description
# --------------------------------------------------------------------------
#    - Node VPC Subnet
#    - Node Scaling
#    - Node Tagging
# ==========================================================================

#============================================
# NODE GROUP - LARAVEL - DEV
#============================================
locals {
  #for tagging
  Environment_laravel_dev     = "DEV"
  Name_laravel_dev            = "EKS-1.22-LARAVEL-DEV"
  Type_laravel_dev            = "PROJECTS"
  ProductName_laravel_dev     = "EKS-DEVOPSCORNER"
  ProductGroup_laravel_dev    = "DEV-EKS-DEVOPSCORNER"
  Department_laravel_dev      = "SOFTENG"
  DepartmentGroup_laravel_dev = "DEV-SOFTENG"
  ResourceGroup_laravel_dev   = "DEV-EKS-DEVOPSCORNER"
  Services_laravel_dev        = "LARAVEL"
}

# --------------------------------------------------------------------------
#  Autoscaling Tag
# --------------------------------------------------------------------------
resource "aws_autoscaling_group_tag" "Environment_group_tag_laravel_dev" {
  for_each = toset(
    [for asg in flatten(
      [for resources in aws_eks_node_group.laravel["dev"].resources : resources.autoscaling_groups]
    ) : asg.name]
  )
  autoscaling_group_name = each.value
  tag {
    key                 = "Environment"
    value               = local.Environment_laravel_dev
    propagate_at_launch = true
  }
}

resource "aws_autoscaling_group_tag" "Name_group_tag_laravel_dev" {
  for_each = toset(
    [for asg in flatten(
      [for resources in aws_eks_node_group.laravel["dev"].resources : resources.autoscaling_groups]
    ) : asg.name]
  )
  autoscaling_group_name = each.value
  tag {
    key                 = "Name"
    value               = local.Name_laravel_dev
    propagate_at_launch = true
  }
}

resource "aws_autoscaling_group_tag" "Type_group_tag_laravel_dev" {
  for_each = toset(
    [for asg in flatten(
      [for resources in aws_eks_node_group.laravel["dev"].resources : resources.autoscaling_groups]
    ) : asg.name]
  )
  autoscaling_group_name = each.value
  tag {
    key                 = "Type"
    value               = local.Type_laravel_dev
    propagate_at_launch = true
  }
}

resource "aws_autoscaling_group_tag" "ProductName_group_tag_laravel_dev" {
  for_each = toset(
    [for asg in flatten(
      [for resources in aws_eks_node_group.laravel["dev"].resources : resources.autoscaling_groups]
    ) : asg.name]
  )
  autoscaling_group_name = each.value
  tag {
    key                 = "ProductName"
    value               = local.ProductName_laravel_dev
    propagate_at_launch = true
  }
}

resource "aws_autoscaling_group_tag" "ProductGroup_group_tag_laravel_dev" {
  for_each = toset(
    [for asg in flatten(
      [for resources in aws_eks_node_group.laravel["dev"].resources : resources.autoscaling_groups]
    ) : asg.name]
  )
  autoscaling_group_name = each.value
  tag {
    key                 = "ProductGroup"
    value               = local.ProductGroup_laravel_dev
    propagate_at_launch = true
  }
}

resource "aws_autoscaling_group_tag" "Department_group_tag_laravel_dev" {
  for_each = toset(
    [for asg in flatten(
      [for resources in aws_eks_node_group.laravel["dev"].resources : resources.autoscaling_groups]
    ) : asg.name]
  )
  autoscaling_group_name = each.value
  tag {
    key                 = "Department"
    value               = local.Department_laravel_dev
    propagate_at_launch = true
  }
}

resource "aws_autoscaling_group_tag" "DepartmentGroup_group_tag_laravel_dev" {
  for_each = toset(
    [for asg in flatten(
      [for resources in aws_eks_node_group.laravel["dev"].resources : resources.autoscaling_groups]
    ) : asg.name]
  )
  autoscaling_group_name = each.value
  tag {
    key                 = "DepartmentGroup"
    value               = local.DepartmentGroup_laravel_dev
    propagate_at_launch = true
  }
}

resource "aws_autoscaling_group_tag" "ResourceGroup_group_tag_laravel_dev" {
  for_each = toset(
    [for asg in flatten(
      [for resources in aws_eks_node_group.laravel["dev"].resources : resources.autoscaling_groups]
    ) : asg.name]
  )
  autoscaling_group_name = each.value
  tag {
    key                 = "ResourceGroup"
    value               = local.ResourceGroup_laravel_dev
    propagate_at_launch = true
  }
}

resource "aws_autoscaling_group_tag" "Services_group_tag_laravel_dev" {
  for_each = toset(
    [for asg in flatten(
      [for resources in aws_eks_node_group.laravel["dev"].resources : resources.autoscaling_groups]
    ) : asg.name]
  )
  autoscaling_group_name = each.value
  tag {
    key                 = "Service"
    value               = local.Services_laravel_dev
    propagate_at_launch = true
  }
}

# --------------------------------------------------------------------------
#  Autoscaling Node Group Output
# --------------------------------------------------------------------------
output "eks_node_asg_group_laravel_dev" {
  value = aws_eks_node_group.laravel["dev"].resources[0].autoscaling_groups[0].name
}
