# ==========================================================================
#  Resources: EKS / autoscale-node-nifi-dev.tf (EKS Autoscale Configuration)
# --------------------------------------------------------------------------
#  Description
# --------------------------------------------------------------------------
#    - Node VPC Subnet
#    - Node Scaling
#    - Node Tagging
# ==========================================================================

#============================================
# NODE GROUP - NIFI - DEV
#============================================
locals {
  #for tagging
  Environment_nifi_dev     = "DEV"
  Name_nifi_dev            = "EKS-1.23-NIFI-DEV"
  Type_nifi_dev            = "PROJECTS"
  ProductName_nifi_dev     = "EKS-DEVOPSCORNER"
  ProductGroup_nifi_dev    = "DEV-EKS-DEVOPSCORNER"
  Department_nifi_dev      = "SOFTENG"
  DepartmentGroup_nifi_dev = "DEV-SOFTENG"
  ResourceGroup_nifi_dev   = "DEV-EKS-DEVOPSCORNER"
  Services_nifi_dev        = "NIFI"
}

# --------------------------------------------------------------------------
#  Autoscaling Tag
# --------------------------------------------------------------------------
resource "aws_autoscaling_group_tag" "Environment_group_tag_nifi_dev" {
  for_each = toset(
    [for asg in flatten(
      [for resources in aws_eks_node_group.nifi["dev"].resources : resources.autoscaling_groups]
    ) : asg.name]
  )
  autoscaling_group_name = each.value
  tag {
    key                 = "Environment"
    value               = local.Environment_nifi_dev
    propagate_at_launch = true
  }
}

resource "aws_autoscaling_group_tag" "Name_group_tag_nifi_dev" {
  for_each = toset(
    [for asg in flatten(
      [for resources in aws_eks_node_group.nifi["dev"].resources : resources.autoscaling_groups]
    ) : asg.name]
  )
  autoscaling_group_name = each.value
  tag {
    key                 = "Name"
    value               = local.Name_nifi_dev
    propagate_at_launch = true
  }
}

resource "aws_autoscaling_group_tag" "Type_group_tag_nifi_dev" {
  for_each = toset(
    [for asg in flatten(
      [for resources in aws_eks_node_group.nifi["dev"].resources : resources.autoscaling_groups]
    ) : asg.name]
  )
  autoscaling_group_name = each.value
  tag {
    key                 = "Type"
    value               = local.Type_nifi_dev
    propagate_at_launch = true
  }
}

resource "aws_autoscaling_group_tag" "ProductName_group_tag_nifi_dev" {
  for_each = toset(
    [for asg in flatten(
      [for resources in aws_eks_node_group.nifi["dev"].resources : resources.autoscaling_groups]
    ) : asg.name]
  )
  autoscaling_group_name = each.value
  tag {
    key                 = "ProductName"
    value               = local.ProductName_nifi_dev
    propagate_at_launch = true
  }
}

resource "aws_autoscaling_group_tag" "ProductGroup_group_tag_nifi_dev" {
  for_each = toset(
    [for asg in flatten(
      [for resources in aws_eks_node_group.nifi["dev"].resources : resources.autoscaling_groups]
    ) : asg.name]
  )
  autoscaling_group_name = each.value
  tag {
    key                 = "ProductGroup"
    value               = local.ProductGroup_nifi_dev
    propagate_at_launch = true
  }
}

resource "aws_autoscaling_group_tag" "Department_group_tag_nifi_dev" {
  for_each = toset(
    [for asg in flatten(
      [for resources in aws_eks_node_group.nifi["dev"].resources : resources.autoscaling_groups]
    ) : asg.name]
  )
  autoscaling_group_name = each.value
  tag {
    key                 = "Department"
    value               = local.Department_nifi_dev
    propagate_at_launch = true
  }
}

resource "aws_autoscaling_group_tag" "DepartmentGroup_group_tag_nifi_dev" {
  for_each = toset(
    [for asg in flatten(
      [for resources in aws_eks_node_group.nifi["dev"].resources : resources.autoscaling_groups]
    ) : asg.name]
  )
  autoscaling_group_name = each.value
  tag {
    key                 = "DepartmentGroup"
    value               = local.DepartmentGroup_nifi_dev
    propagate_at_launch = true
  }
}

resource "aws_autoscaling_group_tag" "ResourceGroup_group_tag_nifi_dev" {
  for_each = toset(
    [for asg in flatten(
      [for resources in aws_eks_node_group.nifi["dev"].resources : resources.autoscaling_groups]
    ) : asg.name]
  )
  autoscaling_group_name = each.value
  tag {
    key                 = "ResourceGroup"
    value               = local.ResourceGroup_nifi_dev
    propagate_at_launch = true
  }
}

resource "aws_autoscaling_group_tag" "Services_group_tag_nifi_dev" {
  for_each = toset(
    [for asg in flatten(
      [for resources in aws_eks_node_group.nifi["dev"].resources : resources.autoscaling_groups]
    ) : asg.name]
  )
  autoscaling_group_name = each.value
  tag {
    key                 = "Service"
    value               = local.Services_nifi_dev
    propagate_at_launch = true
  }
}

# --------------------------------------------------------------------------
#  Autoscaling Node Group Output
# --------------------------------------------------------------------------
output "eks_node_asg_group_nifi_dev" {
  value = aws_eks_node_group.nifi["dev"].resources[0].autoscaling_groups[0].name
}
