# ==========================================================================
#  Resources: EKS / autoscale-node-nifi.tf (EKS Autoscale Configuration)
# --------------------------------------------------------------------------
#  Description
# --------------------------------------------------------------------------
#    - Node VPC Subnet
#    - Node Scaling
#    - Node Tagging
# ==========================================================================

#============================================
# NODE GROUP - NIFI - PROD
#============================================
locals {
  #for tagging
  Environment_nifi_prod     = "PROD"
  Name_nifi_prod            = "EKS-1.23-NIFI-PROD"
  Type_nifi_prod            = "PROJECTS"
  ProductName_nifi_prod     = "EKS-DEVOPSCORNER"
  ProductGroup_nifi_prod    = "PROD-EKS-DEVOPSCORNER"
  Department_nifi_prod      = "SOFTENG"
  DepartmentGroup_nifi_prod = "PROD-SOFTENG"
  ResourceGroup_nifi_prod   = "PROD-EKS-DEVOPSCORNER"
  Services_nifi_prod        = "NIFI"
}

# --------------------------------------------------------------------------
#  Autoscaling Tag
# --------------------------------------------------------------------------
resource "aws_autoscaling_group_tag" "Environment_group_tag_nifi_prod" {
  for_each = toset(
    [for asg in flatten(
      [for resources in aws_eks_node_group.nifi["prod"].resources : resources.autoscaling_groups]
    ) : asg.name]
  )
  autoscaling_group_name = each.value
  tag {
    key                 = "Environment"
    value               = local.Environment_nifi_prod
    propagate_at_launch = true
  }
}

resource "aws_autoscaling_group_tag" "Name_group_tag_nifi_prod" {
  for_each = toset(
    [for asg in flatten(
      [for resources in aws_eks_node_group.nifi["prod"].resources : resources.autoscaling_groups]
    ) : asg.name]
  )
  autoscaling_group_name = each.value
  tag {
    key                 = "Name"
    value               = local.Name_nifi_prod
    propagate_at_launch = true
  }
}

resource "aws_autoscaling_group_tag" "Type_group_tag_nifi_prod" {
  for_each = toset(
    [for asg in flatten(
      [for resources in aws_eks_node_group.nifi["prod"].resources : resources.autoscaling_groups]
    ) : asg.name]
  )
  autoscaling_group_name = each.value
  tag {
    key                 = "Type"
    value               = local.Type_nifi_prod
    propagate_at_launch = true
  }
}

resource "aws_autoscaling_group_tag" "ProductName_group_tag_nifi_prod" {
  for_each = toset(
    [for asg in flatten(
      [for resources in aws_eks_node_group.nifi["prod"].resources : resources.autoscaling_groups]
    ) : asg.name]
  )
  autoscaling_group_name = each.value
  tag {
    key                 = "ProductName"
    value               = local.ProductName_nifi_prod
    propagate_at_launch = true
  }
}

resource "aws_autoscaling_group_tag" "ProductGroup_group_tag_nifi_prod" {
  for_each = toset(
    [for asg in flatten(
      [for resources in aws_eks_node_group.nifi["prod"].resources : resources.autoscaling_groups]
    ) : asg.name]
  )
  autoscaling_group_name = each.value
  tag {
    key                 = "ProductGroup"
    value               = local.ProductGroup_nifi_prod
    propagate_at_launch = true
  }
}

resource "aws_autoscaling_group_tag" "Department_group_tag_nifi_prod" {
  for_each = toset(
    [for asg in flatten(
      [for resources in aws_eks_node_group.nifi["prod"].resources : resources.autoscaling_groups]
    ) : asg.name]
  )
  autoscaling_group_name = each.value
  tag {
    key                 = "Department"
    value               = local.Department_nifi_prod
    propagate_at_launch = true
  }
}

resource "aws_autoscaling_group_tag" "DepartmentGroup_group_tag_nifi_prod" {
  for_each = toset(
    [for asg in flatten(
      [for resources in aws_eks_node_group.nifi["prod"].resources : resources.autoscaling_groups]
    ) : asg.name]
  )
  autoscaling_group_name = each.value
  tag {
    key                 = "DepartmentGroup"
    value               = local.DepartmentGroup_nifi_prod
    propagate_at_launch = true
  }
}

resource "aws_autoscaling_group_tag" "ResourceGroup_group_tag_nifi_prod" {
  for_each = toset(
    [for asg in flatten(
      [for resources in aws_eks_node_group.nifi["prod"].resources : resources.autoscaling_groups]
    ) : asg.name]
  )
  autoscaling_group_name = each.value
  tag {
    key                 = "ResourceGroup"
    value               = local.ResourceGroup_nifi_prod
    propagate_at_launch = true
  }
}

resource "aws_autoscaling_group_tag" "Services_group_tag_nifi_prod" {
  for_each = toset(
    [for asg in flatten(
      [for resources in aws_eks_node_group.nifi["prod"].resources : resources.autoscaling_groups]
    ) : asg.name]
  )
  autoscaling_group_name = each.value
  tag {
    key                 = "Service"
    value               = local.Services_nifi_prod
    propagate_at_launch = true
  }
}

# --------------------------------------------------------------------------
#  Autoscaling Node Group Output
# --------------------------------------------------------------------------
output "eks_node_asg_group_nifi_prod" {
  value = aws_eks_node_group.nifi["prod"].resources[0].autoscaling_groups[0].name
}
