[submodule "modules/terraform-aws-alb"]
	path = modules/terraform-aws-alb
	url = git@github.com:terraform-aws-modules/terraform-aws-alb.git
[submodule "modules/terraform-aws-autoscaling"]
	path = modules/terraform-aws-autoscaling
	url = git@github.com:terraform-aws-modules/terraform-aws-autoscaling.git
[submodule "modules/terraform-aws-cloudfront"]
	path = modules/terraform-aws-cloudfront
	url = git@github.com:terraform-aws-modules/terraform-aws-cloudfront.git
[submodule "modules/terraform-aws-cloudwatch"]
	path = modules/terraform-aws-cloudwatch
	url = git@github.com:terraform-aws-modules/terraform-aws-cloudwatch.git
[submodule "modules/terraform-aws-dynamodb-table"]
	path = modules/terraform-aws-dynamodb-table
	url = git@github.com:terraform-aws-modules/terraform-aws-dynamodb-table.git
[submodule "modules/terraform-aws-ec2-instance"]
	path = modules/terraform-aws-ec2-instance
	url = git@github.com:terraform-aws-modules/terraform-aws-ec2-instance.git
[submodule "modules/terraform-aws-ecs"]
	path = modules/terraform-aws-ecs
	url = git@github.com:terraform-aws-modules/terraform-aws-ecs.git
[submodule "modules/terraform-aws-eks"]
	path = modules/terraform-aws-eks
	url = git@github.com:terraform-aws-modules/terraform-aws-eks.git
[submodule "modules/terraform-aws-elb"]
	path = modules/terraform-aws-elb
	url = git@github.com:terraform-aws-modules/terraform-aws-elb.git
[submodule "modules/terraform-aws-iam"]
	path = modules/terraform-aws-iam
	url = git@github.com:terraform-aws-modules/terraform-aws-iam.git
[submodule "modules/terraform-aws-lambda"]
	path = modules/terraform-aws-lambda
	url = git@github.com:terraform-aws-modules/terraform-aws-lambda.git
[submodule "modules/terraform-aws-key-pair"]
	path = modules/terraform-aws-key-pair
	url = git@github.com:terraform-aws-modules/terraform-aws-key-pair.git
[submodule "modules/terraform-aws-s3-object"]
	path = modules/terraform-aws-s3-object
	url = git@github.com:terraform-aws-modules/terraform-aws-s3-object.git
[submodule "modules/terraform-aws-rds"]
	path = modules/terraform-aws-rds
	url = git@github.com:terraform-aws-modules/terraform-aws-rds.git
[submodule "modules/terraform-aws-route53"]
	path = modules/terraform-aws-route53
	url = git@github.com:terraform-aws-modules/terraform-aws-route53.git
[submodule "modules/terraform-aws-s3-bucket"]
	path = modules/terraform-aws-s3-bucket
	url = git@github.com:terraform-aws-modules/terraform-aws-s3-bucket.git
[submodule "modules/terraform-aws-security-group"]
	path = modules/terraform-aws-security-group
	url = git@github.com:terraform-aws-modules/terraform-aws-security-group.git
[submodule "modules/terraform-aws-vpc"]
	path = modules/terraform-aws-vpc
	url = git@github.com:terraform-aws-modules/terraform-aws-vpc.git
[submodule "modules/terraform-aws-vpn-gateway"]
	path = modules/terraform-aws-vpn-gateway
	url = git@github.com:terraform-aws-modules/terraform-aws-vpn-gateway.git
[submodule "modules/terraform-aws-route53-alias"]
	path = modules/terraform-aws-route53-alias
	url = git@github.com:cloudposse/terraform-aws-route53-alias.git
[submodule "modules/terraform-aws-s3-log-storage"]
	path = modules/terraform-aws-s3-log-storage
	url = git@github.com:cloudposse/terraform-aws-s3-log-storage.git
[submodule "modules/terraform-null-label"]
	path = modules/terraform-null-label
	url = git@github.com:cloudposse/terraform-null-label.git
