.idea/

/autom4te.cache
/autoscan.log
/autoscan-*.log
/aclocal.m4
/compile
/config.guess
/config.h.in
/config.sub
/configure
/configure.scan
/depcomp
/install-sh
/missing
/stamp-h1

config.log
config.status
Makefile.in

.DS_Store
.idea
.vscode
.vagrant
.env
.env.backup
.log
*.tgz
*.tar.gz
*.zip
*.rar

.terraform/
.terraform.lock.hcl
terraform.tfstate